body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 40px;
  background-image: linear-gradient(
    240deg,
    rgb(123, 161, 177),
    rgb(156, 156, 204)
  );
}

.nameTic {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 100px;
  margin-bottom: 10vh;
  margin-top: 7vh;
  font-weight: bold;
  color: #424242;
  text-transform: uppercase;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  color: #424242;
  background-image: linear-gradient(
    240deg,
    rgb(123, 161, 177),
    rgb(156, 156, 204)
  );
  border: 1px solid black;
  font-size: 90px;
  font-weight: bold;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  font-size: 48px;
  color: #424242;
  margin-top: 20px;
  text-align: center;
}

.playagain-button {
  margin-top: 20px;
  text-align: center;
}

.playAgain:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #424242;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.playAgain:active {
  box-shadow: 0 1px #424242;
  transform: translateY(1px);
}

.playAgain {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #424242;
  color: #fffde7;
  border: none;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 40%;
  text-align: center;
  border-radius: 4px;
}
